body {
  background: #f9e933;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header, main {
  background: white;
}

header, main, footer {
  overflow: auto;
}

header h1, main .left, footer .contact {
  float: left;
  width: 570px;
}

header nav, main .right, footer .sitemap {
  float: right;
  width: 285px;
}